
#esf14_GoBack {
	width: 120px;
}

#esf14_AddEvent {
	width: 120px;	
}

.input-group {
	margin-left: 0px;
	margin-bottom: 10px;
}

.input-group-addon{
	background-color: #428bca;
	color: #FFFFFF;

}

.label-as-badge {
    border-radius: 1em;
}


.label-primary {
	min-width: 38px;
	text-align: left;
}




	